---
import Section from "./Section.astro";
---

<Section className=" justify-between flex-row items-center">
  <div class="w-auto h-auto flex flex-col gap-4">
    <a id="sobremi"></a>

    <h1
      class="scroll-fade hidden-left text-7xl font-bold text-blue-300 drop-shadow-lg mt-48 mx-32 max-md:text-5xl max-md:mx-0 max-md:text-center"
    >
      Sobre Mi
    </h1>

    <p
      class="scroll-fade hidden-right mx-32 max-md:mx-0 text-2xl max-md:text-lg text-gray-300 leading-relaxed w-5xl max-md:w-auto max-md:text-center"
    >
      Hola, soy Moisés Marenco, un estudiante de Ingeniería en Sistemas
      apasionado por la tecnologia y la programación empecé en el mundo de la
      programación creando plugins de Minecraft en Java. Poco a poco mi interes
      en el mundo fue creciendo, empecé a adentrarme en el mundo web,
      aprendiendo HTML, CSS y JavaScript. Todo esto mientras llevo mi carrera de
      Ingeniería en Sistemas. Actualmente me encuentro en el último año de mi
      carrera y estoy buscando oportunidades para aplicar mis conocimientos.
    </p>
  </div>
</Section>
