---
import "../styles/global.css";
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		box-sizing: border-box;
		background: #131313;
		color: white;
		stroke: white;
		scroll-behavior: smooth;
	}
</style>

<script>
	document.addEventListener("DOMContentLoaded", () => {
		const elements = document.querySelectorAll(".scroll-fade");

		const observer = new IntersectionObserver(
			(entries) => {
				entries.forEach((entry) => {
					if (entry.isIntersecting) {
						entry.target.classList.add("show");
					} else {
						entry.target.classList.remove("show");
					}
				});
			},
			{ threshold: 0.2 },
		);

		elements.forEach((el) => observer.observe(el));
	});
</script>
